

<div class="card" style="width: 18rem; border:3px ">   
{% for x in cart_obj %}
    <img class="card-img-top" src="{{x.img.url}}" alt="{{x.name_of_product}}" width =50px height = 50px>
    <div class="card-body">
    <h5 class="card-title">Name : {{x.products.name_of_product}}</h5>
    <p class="card-text">Price : {{x.price}}</p>
    <form method = "GET" action = "/qua/{{x.id}}">
        <p>quantity<input type = "number" name = "quantity" value = "{{x.quantity}}"</p>
        <button type = "submit" >ADD</button>
        </form>
        <a href="/remove/{{x.id}}">Remove</a><br>
{% endfor %}

