<h2 style = "color:blue"> Order Summary</h2>
<div class="card" style="width: 18rem; border:3px ">   
{% for x in cart %}
    <img class="card-img-top" src="{{x.products.img.url}}" alt="{{x.products.name_of_product}}" width =50px height = 50px>
    <div class="card-body">
    <h5 class="card-title">Name : {{x.products.name_of_product}}</h5>
    <p>Quantity : {{x.quantity}}</p>
    <p class="card-text">Price : {{x.products.price}}</p>
    <p>product_price : ${{x.get_total_products_price}}</p>
    </div>
    <a href="/remove/{{x.id}}">Remove</a><br>
{% endfor %}
</div>
<h3>Total amount : {{total}}<h3>


