{% extends 'base.html' %}

{% block content %}
<h2 style = "color:blue"> Order Summary</h2>
<div class="card" style="width: 18rem; border:3px ">   

{% for x in order_obj %}
    <img class="card-img-top" src="{{x.products.img.url}}" alt="{{y.products.name_of_product}}" width =50px height = 50px>
    <div class="card-body">
    <h5 class="card-title">Name : {{x.products.name_of_product}}</h5>
    <p>Quantity : {{x.quantity}}</p>
    <p class="card-text">Price : {{x.price}}</p>
    <p>product_price : RS{{x.get_total_products_price}}</p>
    <p>created_at : {{x.created_at}}</p>
    </div>
    <center><a href="/order_remove/{{x.id}}"><button style = "background-color:red">Cancel</button></a><br></center>
{% endfor %}

</div><br>
<h4 style = "color:blue">Tax : {{Tax}}</h4>
<h3 style = "color:blue">Total amount : {{total}}</h3>

{% endblock %}

