{% extends 'base.html' %}

{% block content %}
{% if orders_product.order_status == 1 %}
<h2 style = "color:blue"> Order Summary</h2>
<div class="card" style="width: 18rem; border:3px ">   
{% for x in order_obj %}
    <img class="card-img-top" src="{{x.products.img.url}}" alt="{{x.products.name_of_product}}" width =150px height = 150px>
    <div class="card-body">
    <h4 class="card-title">Name : {{x.products.name_of_product}}</h4>
    <p>Quantity : {{x.quantity}}</p>
    <p class="card-text">Price : {{x.price}}</p>
    <p>product_price : RS {{x.get_total_products_price}}</p>
    <p>created_at : {{x.created_at}}</p>
    </div>
   </div>

<div>
    <a href = "/remove_single/{{x.id}}">Remove</a><br>
 </div><br>
 
{% endfor %}
 
 <div>
   <form method = "POST" action = "/order_remove/{{orders_product.id}}">
        {% csrf_token %}
    <center><button style = "background-color:red">Cancel</button><br></center>
    </form>
 </div>
</div><br>
<h4 style = "color:blue">Tax : {{Tax}}</h4>
<h3 style = "color:blue">Total amount : RS {{total}}</h3>
 {% else %}
 <h3>Your Order Empty!!!</h3>
 {% endif %}
{% endblock %}

