{% extends 'base.html' %}

{% block content %}
<div class="container ">
<h1 style = "color:blue">Products List</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <h3><li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></h3>
    {% endfor %}
</ul>
{% endif %}
<form action="{% url 'read' %}" method="get">
  <input type="search" name="query" placeholder="Search by products..." style = "width: 20%; height: 25px;" >
</form>
<div class="card-columns" style="padding: 10px; margin: 20px; display:flex;">
{% for x in object_list %}
    <div class="card" style="width: 18rem; border:3px;">
        <img class="card-img-top" src="{{x.img.url}}" alt="{{x.name}}" width =150px height = 150px>
      

        <div class="card-body" >
        <h4 class="card-title">Name : {{x.name_of_product}}</h4>
        <p class="card-text">Price : {{x.price}}</p>
        <p class="card-text">Brand : {{x.brand}}</p>
        <p class="card-text">Stock : {{x.in_stock}}</p>
        
        {% if request.user.is_authenticated %}
            {% if x.in_stock == True %}
                <button style = "background-color:skyblue"> <a href = "/addcart/{{x.id}}">Add To Card</a></button>
            {% endif %}
        {% endif %}
        {% if x.id  not in wish_product %}
           <form action = "/wishlist/{{x.id}}" method="POST"><br><br>
              {%csrf_token%}
           <button style="background-color:#10D52A"> ADD Wishlist</button>
            </form>
           {% else %}
           <h4>Alredy wish product<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5oBYRIuhqHFcHUt_qMVSGOHzuqA5gbBafwQ&usqp=CAU" alt ="alreay wish" width =30px height =30px></h4>
          {% endif %}
        
        </div>
     </div>
 {% endfor %}
 
</div>
{% endblock %}















